body{
  margin: 0 auto;
  background-color: grey;
  overflow-x: hidden;

}


/* general */
.flex{
  display: flex;
  gap: var(--gap,1rem);
}


/* primary Header */

.logo{
  margin: 2rem;
}

.primary-header{
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle{
  display: none;
}

.primary-navigation{
   list-style: none;
   padding: 0;
   margin: 0;
}

.primary-navigation a {
  text-decoration: none;
  color: green;
}

@media (max-width: 35em) {
  .primary-navigation{
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 35%;
    flex-direction: column;
    padding: min(30vh, 10rem) 0.5em;
    transform: translateX(100%);
    background: black;
  }

  .primary-navigation[data-visible="true"]{
        transform: translateX(0%);

  }

  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 9999;
    background: url('images/icon-hamburger.svg');
    background-repeat: no-repeat;
    color: white;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;

  }

}
