body{
  margin: 0 auto;
  background-color: white;
  overflow-x: hidden;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  background-image:url('images/desktop/image-hero.jpg');
  object-fit: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;

}


/* general */
.flex{
  display: flex;
  gap: var(--gap,1rem);
}

.container{
  margin: 0 auto;
  border: 4px solid blue;
  width: min(90%,75rem);
  margin-top: 40em;
  margin-bottom: 15em;

}

/* ------------------------NAVBAR--------------------------------- */

.logo{
  margin: 0;
  margin-left: 5em;
  margin-right: 12em;
  border: 2px solid white ;

}

.intro{
  border: 2px solid greenyellow;
  width: 100%;
}

nav{
  border: 2px solid gold ;
  margin-right: 5em;
  display: flex;
  justify-content: space-between;
}

.element-nav{
  border: 2px solid maroon;
  width: 100%;
}

.mobile-nav-toggle{
  display: none;
}

.primary-navigation{
   list-style: none;
   padding: 0;
   margin: 0;
}

.primary-navigation a {
  text-decoration: none;
  color: white;
}

.primary-navigation a:hover,
.primary-navigation a:focus{
  cursor: pointer;
  border-bottom: 2px solid white;
}

/* primary Header */

.primary-header{
  align-items: center;
  justify-content: space-between;
}



/* ------------------Mediaquery display desktop----------------- */

@media (min-width:375px) {



.immersive-title{
  padding: .25em ;
  color: white;
  max-width: 60%;
  min-width: 10%;
  height: 19%;
  position: absolute;
  left: 1em;
  top: 3em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0.25em;
  border: 3px solid white;

}

/*
.box-headline-nav{
  border: 3px solid white;
  margin: auto;
  width: 100%;
  margin-left: 6em;
}

.headline {
  padding: 1.25em ;
  color: white;
  max-width: 60%;
  min-width: 10%;
  height: 38%;
  position: absolute;
  bottom:20em;
  left: -2em;
}

.headline h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0.25em;

}

*/
.article-recent-secondary{
  border: 2px solid yellow;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 4em;
  margin: 2em;
  margin-bottom: -32em;
  width: 60%;
  max-width: 35%;
  position: relative;
  bottom: 39em;
  left: 45em;
}

.article-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.25em;
    text-transform: uppercase;
    font-weight:100;
    justify-content: center;
}

.title-box{
  border: 3px solid black;
  width: 45%;
  margin-left: 4em;
  margin-bottom: 5.5em;
  letter-spacing: 1.8px;

}

.creation-section{
  display: none;
}

.btn-seeall{
    margin: auto;
    margin-top: 2em;
    display: block;
    border: 1px solid black;
    background-color: transparent;
    padding: 1em 2.5em 1em 2.5em;
    text-align: center;
    cursor: pointer;
    position: relative;
    bottom:90em;
    left: 28em;

  }

  .btn-seeall:hover,
  .btn-seeall:focus{
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5%;
  }


/* -----------------grid display desktop */

.grid-first-columns{
  width: min(90%,75rem);
  margin:  auto;
  display: grid;
  grid-auto-flow: column;

}

.grid-second-columns{
  width: min(90%,75rem);
  margin: -3.55em auto;
  display: grid;
  grid-auto-flow: column;
}

.card-grid:hover,
.card-grid:focus{
opacity: 0.5;
cursor: pointer;
}



.title-grid{
  margin-left: 3.5em;
  margin-bottom: -15em;
}


.grid-info{
    position: relative;
    color: white;
    bottom: 4em;
    left: 1em;
    width: 40%;
    font-size: 1.75em;
    font-weight: 100;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}




/* ----------------Footer Desktop-------------------------- */
footer{
    margin-top: 5em;
    padding:3em 0 ;
    background-color: black;
  }

.desktop-logo{
  margin-left: 2.5em;
}

.desktop-social{
  display: flex;
  justify-content:flex-end;
  border: 2px solid white;
  margin-top: -6.5em;
  margin-right: 2em;
}

.desktop-social img{
  margin: 0.7em;

}

.footer-navigation a{
  text-decoration: none;
  color: white;
  margin: -0.15em;
}
.footer-navigation li{
  list-style: none;
}

/* hover */
.footer-navigation a:hover{
border-bottom: 1px solid white;
padding-bottom: 0.25em ;
}


.law-rules{
margin-left: 70%;
color: white;
}

}


/* articles desktop */

.article-recent-main img{
  width: 100%;
}




/* ---------------------MediaQuery Mobile display------------------- */

@media (max-width: 375px) {
  .primary-navigation{
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 10%;
    flex-direction: column;
    padding: min(30vh, 10rem) 0.5em;
    transform: translateX(100%);
    transition: transform  350ms ease;
    background: hsl(0, 0%, 0%);
  }

  .primary-navigation[data-visible="true"]{
    transform: translateX(0%);
  }

  .primary-navigation a:hover,
  .primary-navigation a:focus{
    cursor: pointer;
    border-bottom: 2px solid white;
}



  .primary-navigation a {
    text-decoration: none;
    color:hsl(0, 0%, 100%);
    font-size:2em;
    font-family: 'Alata', sans-serif;
    font-weight:lighter;

  }

  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url('images/icon-hamburger.svg');
    background-repeat: no-repeat;
    color: white;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    cursor:pointer;

  }

  .mobile-nav-toggle[aria-expanded="true"]{
    background-image: url('images/icon-close.svg');
  }

  /* Mobile display Banner   */

  .logo{
    position: absolute;
    margin:2em;
    color: white;
  }

  .intro{
    background-image:url('images/mobile/image-hero.jpg');
    background-size: cover;
    min-width: 150%;
    background-position: center;
    min-height: 100vh;
  }

  .headline {
    position: absolute;
    height: 25%;
    width: 92%;
    margin-left:1em;
    margin-top: 25em;
    border: 2px solid white;
    display: flex;
    align-items: center;
  }

  .immersive-title{
    position: relative;
    bottom: .25em;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2.75em;
    letter-spacing: 0.1em;
    font-weight: lighter;
    line-height: 1;

  }

  /*   Mobile display articles  */

  .article-recent-main{
    margin: 0 auto;
    margin-top: -35em;
    align-items: center;
    border: 3px solid purple;
  }

  .article-recent-secondary{
    border: 3px solid purple;
    margin-top: -35em;
    width: 90%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }


  .article-title{
    text-align: center;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
     margin-bottom: -0.25em;

  }

  .article-body{
    margin: 1em;
    width: 80%;
    padding: 1em;
    line-height: 1.7;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
  }


    /*  Mobile display Creation card flexbox  */


  .creation-section{
    display: flex;
    flex-direction: column;

  }

  .image-creations{
    width: 100%;
    align-items: center;
    padding: 1.55em;
    margin-bottom: -1.55em;
    position: relative;
  }

  .creation-image{
    width: 90%;
  }

  .name{
    position: absolute;
    color: white;
    bottom: 1.75em;
    left: 0.45em;
    width: 33%;
    font-size: 1.75em;
    font-weight: 100;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
  }


  /* button */

  .btn-seeall{
    margin: auto;
    margin-top: 2em;
    display: block;
    border: 1px solid black;
    background-color: transparent;
    padding: 1em 2.5em 1em 2.5em;
    text-align: center;
    cursor: pointer;
    transition: all 275ms ease;


  }

  .btn-seeall:hover,
  .btn-seeall:focus{
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5%;
  }


  /* FOOTER display mobile */

  footer{
    margin-top: 5em;
    padding:3em 0 ;
    background-color: black;

  }

  .logo-footer{
    text-align: center;
  }

  .footer-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 1em;
  }

  .footer-navigation a{
    text-decoration: none;
    color: white;
    font-size: 1.15em;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.4;

  }

  .footer-navigation a:hover,
  .footer-navigation a:hover{
    border-bottom: 1px solid hsl(0, 0%, 100%);

  }

  .social-media{
    display: flex;
    justify-content: center;
  }

  .social-media img{
    margin: 0.75em;
  }

  .law-rules{
    color: white;
    text-align: center;
  }

  .grid-first-columns{
    border: 2px solid black;
    display: none;
  }

  .grid-second-columns{
    display: none;
  }
  }
